$darkBlue: #0d1321;
$offWhite: #F0EBD8;
$slate: #63768D;

#form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

#inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;
}

form{
  margin-top: 25px;
  padding: 10px;
  color: $darkBlue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    label{
      padding: 20px;
  }
  input{
    padding: 5px;
    height: 1em;
    color: $slate;
    background-color: whitesmoke;
    text-decoration: none;
    border: none;
    border-radius: 10px;
  }
  button{
    border: none;
    text-decoration: none;
    margin: 10px;
    margin-left: 25px;
    padding: 15px;
    border-radius: 100%;
background: #F0EBD8;
box-shadow:  20px 20px 60px #ccc8b8, 
             -20px -20px 60px #fffff8;

    color: $slate;
  }
  button:hover{
    color: rgba(199, 46, 46, 0.781);
    border-radius: 100%;
    background: linear-gradient(315deg, #fffbe7, #d8d4c2);
    box-shadow:  -5px -5px 60px #ccc8b8, 
                 5px 5px 60px #fffff8;
  }
  ul{
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      display: inline-block;
      padding: 25px;
      margin: 10px;
      border-radius: 100%;
      background: #F0EBD8;
      box-shadow:  20px 20px 60px #ccc8b8, 
                   -20px -20px 60px #fffff8;
      
    color: $slate;
      cursor: pointer;
    }
    li:hover{
        color: rgba(199, 46, 46, 0.781);
        background: linear-gradient(315deg, #fffbe7, #d8d4c2);
        box-shadow:  -5px -5px 60px #ccc8b8, 
                 5px 5px 60px #fffff8;
        overflow: hidden;
    }
  }
  
}

section {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  p { 
color: $darkBlue;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
  }
}

